/*!
 * joshuadowding.github.io
 * Copyright 2019-2020 Joshua Dowding
 */

$colour-white: #FEFCFF;
$colour-d-black: #191919;
$colour-l-black: #272727;
$colour-grey: #696969;
$colour-blue: #3095E5;

@mixin colour-d-black($alpha){ background: rgba(25, 25, 25, $alpha); }

$box-shadow-default: rgba(0, 0, 0, 0.25);
$border-radius-default: .35rem;

@mixin transition-colour-text-highlight($duration) {
  -webkit-transition: color $duration ease-in-out;
  -ms-transition: color $duration ease-in-out;
  transition: color $duration ease-in-out;
}

@mixin box-shadow-default() {
  -webkit-box-shadow: 0px 5px 15px 0px $box-shadow-default;
  -moz-box-shadow: 0px 5px 15px 0px $box-shadow-default;
  box-shadow: 0px 5px 15px 0px $box-shadow-default;
}

:root {
  --colour-background: #FEFCFF;
  --colour-background-darker: #FEFCFF;
  --colour-background-invert: #272727;
  --colour-button-background-disabled: #696969;
  --colour-button-disabled: #272727;
  --colour-text: #272727;
  --colour-text-invert: #FEFCFF;

  ul {
    &.invert {
      color: var(--colour-text-invert);

      li {
        color: var(--colour-text-invert);
        list-style: square outside url('../img/bullet-w.png');

        p {
          color: var(--colour-text-invert);
        }
      }
    }

    li {
      list-style: square outside url('../img/bullet.png');
    }
  }
}

:root.theme-dark {
  --colour-background: #272727;
  --colour-background-darker: #191919;
  --colour-background-invert: #FEFCFF;
  --colour-button-background-disabled: #696969;
  --colour-button-disabled: #FEFCFF;
  --colour-text: #FEFCFF;
  --colour-text-invert: #272727;

  ul {
    &.invert {
      color: var(--colour-text-invert);

      li {
        color: var(--colour-text-invert);
        list-style: square outside url('../img/bullet.png');

        p {
          color: var(--colour-text-invert);
        }
      }
    }

    li {
      list-style: square outside url('../img/bullet-w.png');
    }
  }
}
