---
---

$colour-text-white: #FEFCFF;
$colour-text-black: #272727;
$colour-text-highlight: #3095E5;
$colour-disabled: #696969;

@mixin transition-colour-text-highlight($duration) {
  -webkit-transition: color $duration ease-in-out;
  -ms-transition: color $duration ease-in-out;
  transition: color $duration ease-in-out;
}

:root {
  --colour-background: #FEFCFF;
  --colour-background-invert: #272727;
  --colour-button-disabled: #696969;
  --colour-text: #272727;
  --colour-text-invert: #FEFCFF;

  ul {
    li {
      list-style: square outside url('../img/bullet.png');
    }
  }
}

:root.theme-dark {
  --colour-background: #272727;
  --colour-background-invert: #FEFCFF;
  --colour-button-disabled: #696969;
  --colour-text: #FEFCFF;
  --colour-text-invert: #272727;

  ul {
    li {
      list-style: square outside url('../img/bullet-w.png');
    }
  }
}

html {
  font-size: 62.5%;
  max-width: 1920px;
  min-width: 320px;

  body {
    min-width: 320px;
    background-color: var(--colour-background);

    h1 {
      font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2.4rem;
      font-weight: 700;
      color: var(--colour-text);
      margin: 24px 0 12px;

      &.post-title {
        font-size: 2.8rem;
      }

      &.title {
        &.title-name {
          font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
      }
    }

    h2 {
      font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2.2rem;
      font-weight: 700;
      color: var(--colour-text);
      margin: 24px 0 12px;

      &.group-header {
        margin: 16px;
        text-align: center;
      }
    }

    h3 {
      font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2rem;
      font-weight: 700;
      color: var(--colour-text);
      margin: 24px 0 12px;
    }

    h4 {
      font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      color: var(--colour-text);
      margin: 24px 0 12px;
    }

    h5 {
      font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--colour-text);
      margin: 24px 0 12px;
    }

    h6 {
      font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--colour-text);
      margin: 24px 0 12px;
    }

    div,
    input,
    span,
    textarea {
      font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--colour-text);
      line-height: 2.4rem;
    }

    span {
      &.button {
        position: relative;
        display: inline-block;
        font-weight: 500;
        color: var(--colour-text);
        padding: 4px 8px;
        //border: 2px solid var(--colour-background-invert);
        min-width: 64px;
        text-align: center;

        &.button-disabled {
          color: var(--colour-button-disabled);
          cursor: default;

          &:hover {
            color: var(--colour-button-disabled);
          }
        }

        &:hover {
          color: $colour-text-highlight;
          //@include transition-colour-text-highlight(0.1s);
        }
      }

      &.badge {
        font-size: 1.2rem;
        margin: 0;
        background-color: var(--colour-background-invert);
        color: var(--colour-text-invert);
        border-radius: .35rem;
        padding: 4px 8px;
      }
    }

    p {
      font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--colour-text);
      line-height: 2.4rem;
      margin: 0 0 12px 0;

      &:last-child {
        margin: 0;
      }
    }

    a {
      font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      //color: var(--colour-text);
      color: $colour-text-highlight;

      //@include transition-colour-text-highlight(0.1s);
      &:hover {
        color: $colour-text-highlight;
        text-decoration: none;
        //@include transition-colour-text-highlight(0.1s);
      }

      &.link-icon {
        position: relative;
        display: inline-block;

        &:hover {
          text-decoration: none;
        }
      }

      &.button {
        position: relative;
        display: inline-block;
        font-weight: 500;
        color: var(--colour-text);
        padding: 4px 8px;
        //border: 2px solid var(--colour-background-invert);
        min-width: 64px;
        text-align: center;

        &.button-disabled {
          color: var(--colour-button-disabled);
          cursor: default;

          &:hover {
            color: var(--colour-button-disabled);
          }
        }

        &:hover {
          color: $colour-text-highlight;
          //@include transition-colour-text-highlight(0.1s);
        }
      }

      &.title-button {
        color: var(--colour-text);

        &:hover {
          color: $colour-text-highlight !important;
          //@include transition-colour-text-highlight(0.1s);

          .post-title {
            color: $colour-text-highlight !important;
          }
        }
      }
    }

    strong {
      a {
        font-weight: bolder;
      }
    }

    i {
      font-size: 2.8rem;
      font-weight: 400;
      color: var(--colour-text);
      //@include transition-colour-text-highlight(0.1s);

      &:hover {
        color: $colour-text-highlight;
        //@include transition-colour-text-highlight(0.1s);
      }
    }

    ul {
      li {
        font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--colour-text);
        margin: 0 0 6px 0;
      }

      &.nav {
        li {
          a {
            font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1.8rem;
            font-weight: 700;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 92px;
      overflow: hidden;

      .header-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 92px;
        width: 100%;

        .header-title {
          .title {
            margin: 0;
            padding: 0;
          }
        }

        .header-icons {
          display: flex;
          margin: 0 0 0 16px;

          .link-icon {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            color: var(--colour-text);
            margin: 0 8px 0 0;
            height: 32px;
            width: 32px;

            &:hover {
              color: $colour-text-highlight;
            }

            &:last-child {
              margin: 0;
            }
          }
        }

        @media screen and (max-width: 768px) {
          .header-icons {
            display: none;
          }
        }

        .header-nav {
          display: flex;
          margin: 4px 0 0 24px;

          .nav {
            list-style: none;

            .nav-item {
              margin: 0 12px 0 0;
              list-style: none;

              &:last-child {
                margin: 0;
              }

              .nav-link {
                color: var(--colour-text);
                padding: 0;

                &:hover {
                  color: $colour-text-highlight;
                }
              }
            }
          }
        }

        @media screen and (max-width: 768px) {
          .header-nav {
            display: none;
          }
        }

        .header-separator {
          width: auto;
          flex-grow: 1;
          margin: 0 0 0 16px;
        }

        .header-menu {
          display: none;
          margin: 0 0 0 16px;

          .link-icon {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            color: var(--colour-text);
            margin: 0 8px 0 0;
            height: 32px;
            width: 32px;
            //@include transition-colour-text-highlight(0.1s);

            &:hover {
              color: $colour-text-highlight;
              //@include transition-colour-text-highlight(0.1s);
            }

            &:last-child {
              margin: 0;
            }

            &.menu-toggle {
              display: none;
            }
          }
        }

        @media screen and (max-width: 768px) {
          .header-menu {
            display: flex;

            .link-icon {
              &.menu-toggle {
                display: flex;
              }
            }
          }
        }
      }
    }

    footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      height: 92px;

      .footer-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 92px;
        width: 100%;

        .footer-title {
          .footer-copyright {
            font-size: 1.4rem;
            font-weight: 500;
            margin: 0;

            #copyright-year {
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
        }

        .footer-separator {
          width: auto;
          flex-grow: 1;
          margin: 0 0 0 16px;
        }

        .footer-menu {
          display: flex;
          margin: 0 0 0 16px;

          .link-icon {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            color: var(--colour-text);
            margin: 0 8px 0 0;
            height: 32px;
            width: 32px;

            //@include transition-colour-text-highlight(0.1s);
            &:hover {
              color: $colour-text-highlight;
              //@include transition-colour-text-highlight(0.1s);
            }

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }

    .body-content {
      &#main {
        transition: margin-left 0.5s;
      }

      .post {
        display: flex;
        flex-direction: row;
        padding: 16px 0;
        margin: 24px 0;
        align-items: center;
        min-height: 256px;

        &.full-spread {
          margin: 0 !important;
          //padding: 24px 48px;

          .post-body {
            width: 100% !important;
          }
        }

        &:first-child {
          margin: 0 0 24px;
        }

        &:last-child {
          margin: 24px 0 0;
        }

        &:not(.project) {
          .post-image {
            height: 360px;
            width: 640px;
            margin-right: 24px;

            .image-wrapper {
              .image {
                height: 360px;
                width: 640px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-color: $colour-disabled;
                border-radius: .35rem;
                -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
                -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
              }
            }
          }

          .post-body {
            width: 50%;
            height: unset;
          }
        }

        .post-image {
          height: 360px;
          width: 640px;
          margin-right: 24px;

          .image-wrapper {
            position: relative;
            display: block;

            .image {
              height: 360px;
              width: 640px;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              background-color: $colour-disabled;
              border-radius: .35rem;
              -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
              -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
            }
          }
        }

        .post-body {
          .post-title {
            margin: 0 0 4px 0;
          }

          .post-subtitle {
            margin: 0 0 8px 0;
          }

          .post-date {
            margin: 0 0 8px 0;
          }

          .post-tags {
            display: flex;
            margin: 0 0 8px 0;

            .tag {
              font-size: 1.2rem;
              margin: 0 8px 0 0;
            }
          }

          .post-catagories {
            display: flex;
            margin: 0 0 8px 0;

            .category {
              font-size: 1.2rem;
              margin: 0 8px 0 0;
            }
          }

          .post-content {
            margin: 16px 0;
          }

          .post-excerpt {
            margin: 16px 0;
          }
        }
      }

      .pagination {
        .page_number {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 8px;
        }
      }
    }

    .list-group {
      &.experience-group {
        max-width: 512px;
        margin: 16px;
        border-radius: .35rem;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);

        .list-group-item {
          background-color: var(--colour-background-invert);
          padding: 16px;
          color: var(--colour-text-invert);

          &:first-child {
            border-top-left-radius: .35rem;
            border-top-right-radius: .35rem;
          }

          &:last-child {
            border-bottom-left-radius: .35rem;
            border-bottom-right-radius: .35rem;
          }

          &.sub-item {
            padding: 8px 16px;
          }

          .item-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 0 8px 0;

            &:last-child {
              margin: 0;
            }

            .header-wrapper,
            .attribute-wrapper {
              display: flex;
              flex-direction: column;
            }

            .header-wrapper {
              width: 60%;

              .header-link {
                .header {
                  &:hover {
                    color: $colour-text-highlight;
                    //@include transition-colour-text-highlight(0.1s);
                  }
                }
              }

              p {
                color: var(--colour-text-invert);
              }
            }

            .attribute-wrapper {
              width: 40%;
              margin-left: auto;
              text-align: right;
            }

            .header {
              margin: 0 auto 0 0;
              color: var(--colour-text-invert);
            }

            .attribute {
              font-size: 1.2rem;
              margin: 0;
              color: var(--colour-text-invert);
            }
          }

          .item-body {
            p {
              color: var(--colour-text-invert);
            }
          }
        }
      }
    }

    .carousel-wrapper {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.85);
      z-index: 999;

      &.show {
        display: block;
      }

      .carousel-close-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 64px;
        height: 64px;
        z-index: 1000;

        &:hover {
          i {
            color: $colour-text-highlight;
          }
        }

        i {
          color: $colour-text-white;
        }

        .carousel.close {
          font-size: 1.4rem;
        }
      }

      .post-carousel {
        display: none;
        height: 100%;

        .slick-list,
        .slick-track {
          height: 100%;
          width: 100%;
          position: relative;
        }

        .slick-arrow {
          position: absolute;
          width: 64px;
          height: 64px;
          border: 0;
          background: transparent;

          &:hover {
            i {
              color: $colour-text-highlight;
            }
          }

          &.slick-prev {
            top: 47.5%;
            left: 0;
            z-index: 1;
          }

          &.slick-next {
            top: 47.5%;
            right: 0;
            z-index: 1;
          }

          i {
            color: $colour-text-white;
          }
        }

        .image-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          position: relative;
          height: 100%;
          width: 100%;

          .image {
            max-width: 1024px;
            margin-left: 64px;
            margin-right: 64px;
            border-radius: .35rem;
            -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
            -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
          }
        }
      }
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: var(--colour-background-invert);
      overflow-x: hidden;
      transition: 0.5s;

      &.show {
        width: 256px;
      }

      .sidenav-header {
        display: flex;
        align-items: center;
        height: 90px;
      }

      a {
        font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--colour-text-invert);
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        display: block;
        transition: 0.25s;

        &:hover {
          color: $colour-text-highlight;
        }
      }

      .menu-toggle {
        color: var(--colour-text-invert);

        &#close {
          position: relative;
          display: inline-block;
          font-size: 36px;
        }

        i {
          color: var(--colour-text-invert);
        }
      }
    }

    @media screen and (max-width: 1199px) {
      .body-content {
        .posts {
          .post {
            display: flex;
            flex-direction: column;

            .post-image {
              width: 100%;
              padding-right: 0;
              margin-bottom: 24px;
              margin-right: 0;

              &.post-carousel {
                .slick-arrow {
                  &.slick-next {
                    right: 0;
                  }
                }
              }

              .image-wrapper {
                .image {
                  width: 100%;
                }
              }
            }

            .post-body {
              width: 100%;
            }
          }
        }
      }

      .list-group {
        &.experience-group {
          margin: 16px auto;
        }
      }
    }

    @media screen and (max-width: 442px) {
      .sidenav {
        &.show {
          width: 100%;
        }
      }
    }

    @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }

      .sidenav a {
        font-size: 18px;
      }
    }
  }
}
