---
title: Projects
layout: default
permalink: /portfolio/
---

<div class="container">
  <div class="row">
    <div class="col">

      <!-- Portfolio -->
      <div class="post-wrapper">
        {% for group in site.data.portfolio %}
          {% if group.name == "main" %}
            {% for item in group.items %}
              <article class="post">
                {% if item.image != null %}
                  <div class="post-image">
                    {% if item.link != null %}
                      <a class="image-wrapper" href="{{ item.link }}" target="_blank">
                        <div class="image" style="background-image: url('{{ item.image }}')"></div>
                      </a>

                      <div class="post-hint"><i class="ri-cursor-fill"></i> Visit</div>
                    {% else %}
                      <a class="image-wrapper carousel-toggle" href="javascript:void(0);" data-post-id="{{ item.id }}">
                        <div class="image" style="background-image: url('{{ item.image }}')"></div>
                      </a>

                      <div class="post-hint"><i class="ri-cursor-fill"></i> View</div>
                    {% endif %}
                  </div>
                {% endif %}

                <div class="post-body">
                  {% if item.link != null %}
                    <a class="title-button read-more" href="{{ item.link }}" target="_blank">
                      <h3 class="post-title" id="{{ item.id }}">{{ item.title }}</h3>
                    </a>
                  {% else %}
                    <a class="carousel-toggle" href="javascript:void(0);" data-post-id="{{ item.id }}">
                      <h3 class="post-title" id="{{ item.id }}">{{ item.title }}</h3>
                    </a>
                  {% endif %}

                  {% if item.subtitle != null %}
                    <div class="post-metadata">
                      <h6 class="post-subtitle">{{ item.subtitle }}</h6>
                    </div>
                  {% endif %}

                  <div class="post-excerpt">
                    {{ item.body | truncatewords:256 | markdownify }}
                  </div>

                  {% if item.tags != empty %}
                    <div class="post-tags">
                      <p class="tags-header">Tags:</p>
                      <p class="tags">
                        {% for tag in item.tags %}
                          {% if forloop.last %}
                            {{ tag }}
                          {% else %}
                            {{ tag }},
                          {% endif %}
                        {% endfor %}
                      </p>
                    </div>
                  {% endif %}
                </div>
              </article>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>

      <!-- 'Other Projects' Feature -->
      <div class="scroll-wrapper">
        <div class="feature-wrapper">
          <div class="feature-list-wrapper">
            <div class="feature-list">
              {% for group in site.data.portfolio %}
                {% if group.name == "other" %}
                  {% for item in group.items %}
                    <div class="feature-item">
                      <div class="item-header">
                        <p class="header-content">{{ item.type }} <i class="ri-checkbox-blank-circle-fill"></i> {{ item.company }}</p>
                        <h6 class="header-title">{{ item.title }}</h6>
                      </div>
                      <div class="item-body">
                        <p>{{ item.body | markdownify }}</p>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <!-- 'Resume' Feature -->
      <div class="scroll-wrapper">
        <div class="feature-wrapper">
          <div class="feature-list-wrapper">
            <div class="feature-list">
              {% for member in site.data.resume %}
                {% if member.type == "present" %}
                {% endif %}

                <div class="feature-item">
                  <div class="item-header">
                    <h6 class="header-title">{{ member.position }}</h6>
                    <p class="header-subtitle">{{ member.company }}</p>
                  </div>
                  <div class="item-body">
                    <p>{{ member.date }}</p>
                    <p>{{ member.location }}</p>
                    <p>{{ member.term }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="carousel-wrapper">
  <div class="carousel-close-wrapper">
    <a class="carousel-close" href="javascript:void(0);">
      <i class="ri-close-circle-fill"></i>
    </a>
  </div>

  {% for member in site.data.portfolio %}
    {% if member.slide-images != empty %}
      <div class="post-carousel" data-post-id="{{ member.id }}">
        {% for slide_image in member.slide-images %}
          <a class="image-wrapper carousel-toggle" href="javascript:void(0);" data-post-id="{{ member.id }}">
            <img class="image" src="{{ slide_image.image }}" />
          </a>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>
