---
title: Blog
layout: default
---

<div class="container header-container" id="commissions">
  <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
    <a class="list-group-item list-group-item-action active" id="list-journal-list" data-toggle="list" href="#list-journal" role="tab" aria-controls="experience">The Ruskin Journal</a>
  </div>
  <div class="scroll-overlay overlay-left"></div>
  <div class="tab-content" id="nav-tab-content">
    <div class="tab-pane fade show active" id="list-journal" role="tabpanel" aria-labelledby="list-journal-list">
      <div class="tab-list">
        {% for post in site.categories.external %}
        <div class="list-item has-thumbnail" data-file="{{ post.location }}" data-target="article" style="background-image: url('{{ post.image }}')">
          <div class="item-inner">
            <div class="item-header">
              <a href="{{ post.redirect }}" target="_blank">
                <h6 class="external-link">{{ post.title }}</h6>
              </a>
            </div>
            <div class="item-body">
              <p class="body-header">
                {{ post.date | date: "%B %-d, %Y" }}
                -
                <span class="reading-time"></span>,
                <span class="word-count"></span> words
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="scroll-overlay overlay-right"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="posts">
        {% for post in site.categories.blog limit:5 %}
        <article class="post" data-file="{{ post.location }}" data-target="article">
          {% if post.image != null %}
          <div class="post-image">
            <a class="image-wrapper" href="{{ site.baseurl }}{{ post.image }}">
              <div class="image" style="background-image: url('{{ post.image }}')"></div>
            </a>

            <div class="post-hint">
              <i class="ri-cursor-fill"></i> View
            </div>
          </div>
          {% endif %}

          <div class="post-body">
            {% if post.redirect %}
            <a class="title-button read-more" href="{{ post.redirect }}" target="_blank">
              <h3 class="post-title">{{ post.title }}</h3>
            </a>
            {% else %}
            <a class="title-button read-more" href="{{ site.baseurl }}{{ post.url }}">
              <h3 class="post-title">{{ post.title }}</h3>
            </a>
            {% endif %}

            <div class="post-metadata">
              <h6 class="post-date">{{ post.date | date: "%B %-d, %Y" }}
                -
                <span class="reading-time"></span>
                <span>(<span class="word-count"></span> words)</span>

                {% if post.redirect %}
                - <span>External Link</span>
                {% endif %}
              </h6>
            </div>

            <div class="post-excerpt">
              {{ post.excerpt | truncatewords:64 | markdownify }}
            </div>

            {% if post.categories != empty %}
            <div class="post-catagories">
              <p class="categories-header">Categories:</p>
              <p class="categories">
                {% for category in post.categories %}
                {% if forloop.last %}
                {{ category }}
                {% else %}
                {{ category }},
                {% endif %}
                {% endfor %}
              </p>
            </div>
            {% endif %}

            {% if post.tags != empty %}
            <div class="post-tags">
              <p class="tags-header">Tags:</p>
              <p class="tags">
                {% for tag in post.tags %}
                {% if forloop.last %}
                {{ tag }}
                {% else %}
                {{ tag }},
                {% endif %}
                {% endfor %}
              </p>
            </div>
            {% endif %}
          </div>
        </article>
        {% endfor %}

        <div class="pagination">
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="button previous">
            Previous
          </a>
          {% else %}
          <span class="button button-disabled previous">Previous</span>
          {% endif %}

          <span class="page_number">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
          </span>

          {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="button next">Next</a>
          {% else %}
          <span class="button button-disabled next">Next</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
