---
title: Blog
layout: default
---

<div class="container">
  <div class="row">
    <div class="col">
      <div class="posts">
        {% for post in paginator.posts limit:5 %}
        <article class="post">
          <div class="post-image">
            <a class="image-wrapper" href="{{ site.baseurl }}{{ post.image }}">
              <div class="image" style="background-image: url('{{ post.image }}')"></div>
            </a>
          </div>
          <div class="post-body">
            {% if post.redirect %}
            <a class="title-button read-more" href="{{ post.redirect }}" target="_blank">
              <h3 class="post-title">{{ post.title }}</h3>
            </a>
            {% else %}
            <a class="title-button read-more" href="{{ site.baseurl }}{{ post.url }}">
              <h3 class="post-title">{{ post.title }}</h3>
            </a>
            {% endif %}
            <h6 class="post-date">{{ post.date | date: "%B %-d, %Y" }}</h6>

            {% if post.tags != empty %}
            <div class="post-tags">
              {% for tag in post.tags %}
              <p class="tag"><span class="badge badge-secondary">{{ tag }}</span></p>
              {% endfor %}
            </div>
            {% endif %}

            {% if post.categories != empty %}
            <div class="post-catagories">
              {% for category in post.categories %}
              <p class="category"><span class="badge badge-secondary">{{ category }}</span></p>
              {% endfor %}
            </div>
            {% endif %}

            <div class="post-excerpt">
              {{ post.excerpt | truncatewords:96 | markdownify }}
            </div>
          </div>
        </article>
        {% endfor %}

        <div class="pagination">
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="button previous">
            Previous
          </a>
          {% else %}
          <span class="button button-disabled previous">Previous</span>
          {% endif %}

          <span class="page_number">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
          </span>

          {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="button next">Next</a>
          {% else %}
          <span class="button button-disabled next">Next</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
