---
title: Projects
layout: default
permalink: /projects/
---

<div class="container">
  <div class="row">
    <div class="col">
      <div class="posts">
        {% for post in site.categories.portfolio %}
        <article class="post">
          <div class="post-image">
            <a class="image-wrapper" href="{{ site.baseurl }}{{ post.image }}">
              <img src="{{ post.image }}" />
            </a>
          </div>
          <div class="post-body">
            <h3 class="post-title">{{ post.title }}</h3>
            <h6 class="post-subtitle">{{ post.subtitle }}</h6>

            {% if post.tags != empty %}
            <div class="post-tags">
              {% for tag in post.tags %}
              <p class="tag"><span class="badge badge-secondary">{{ tag }}</span></p>
              {% endfor %}
            </div>
            {% endif %}

            <p class="post-excerpt">
              {{ post.content | truncatewords:96 }}
            </p>

            {% if post.link != null %}
            <a class="button read-more" href="{{ post.link }}" target="_blank">
              View
            </a>
            {% endif %}
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
