---
title: Projects
layout: default
permalink: /projects/
---

<div class="container">
  <div class="row">
    <div class="col">
      <div class="posts">
        {% for post in site.categories.portfolio %}
        <article class="post project">
          {% if post.thumbnail != null %}
          <div class="post-image">
            {% if post.thumbnail-link != null %}
            <a class="image-wrapper" href="{{ post.thumbnail-link }}" target="_blank">
              <div class="image" style="background-image: url('{{ post.thumbnail }}')"></div>
            </a>
            {% else %}
            <a class="image-wrapper carousel-toggle" href="javascript:void(0);" data-post-id="{{ post.post-id }}">
              <div class="image" style="background-image: url('{{ post.thumbnail }}')"></div>
            </a>
            {% endif %}
          </div>
          {% endif %}

          <div class="post-body">
            <h3 class="post-title">{{ post.title }}</h3>
            <h6 class="post-subtitle">{{ post.subtitle }}</h6>

            {% if post.tags != empty %}
            <div class="post-tags">
              {% for tag in post.tags %}
              <p class="tag"><span class="badge badge-secondary">{{ tag }}</span></p>
              {% endfor %}
            </div>
            {% endif %}

            <p class="post-excerpt">
              {{ post.content | truncatewords:96 }}
            </p>

            {% if post.link != null %}
            <a class="button read-more" href="{{ post.link }}" target="_blank">
              View
            </a>
            {% endif %}
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="carousel-wrapper">
  <div class="carousel-close-wrapper">
    <a class="carousel-close" href="javascript:void(0);">
      <i class="fas fa-times-circle"></i>
    </a>
  </div>

  {% for post in site.categories.portfolio %}
  {% if post.slide-images != empty %}
  <div class="post-carousel" data-post-id="{{ post.post-id }}">
    {% for image in post.slide-images %}
    <div class="image-wrapper" href="#">
      <div class="image" style="background-image: url('{{ image }}')"></div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var postID;

    $('.carousel-toggle').click(function () {
      postID = $(this).data('post-id');

      if ($('.carousel-wrapper').css('display') == 'none') {
        $('body').css('overflow-y', 'hidden');
        $('.carousel-wrapper').css('display', 'block').addClass('show');
        $('.post-carousel[data-post-id="' + postID + '"]').css('display', 'block');

        $('.post-carousel[data-post-id="' + postID + '"]').slick({
          dots: false,
          infinite: true,
          speed: 300,
          prevArrow: '<button class="slick-prev"><i class="fas fa-arrow-alt-circle-left"></i></button>',
          nextArrow: '<button class="slick-next"><i class="fas fa-arrow-alt-circle-right"></i></button>',
          fade: true,
          cssEase: 'linear'
        });
      }
      else {
        $('body').css('overflow-y', 'auto');
        $('.carousel-wrapper').css('display', 'none').removeClass('show');
        $('.post-carousel[data-post-id="' + postID + '"]').css('display', 'none');
        $('.post-carousel[data-post-id="' + postID + '"]').slick('unslick');
      }
    });

    $('.carousel-close').click(function () {
      $('body').css('overflow-y', 'auto');
      $('.carousel-wrapper').css('display', 'none').removeClass('show');
      $('.post-carousel[data-post-id="' + postID + '"]').css('display', 'none');
      $('.post-carousel[data-post-id="' + postID + '"]').slick('unslick');
    });
  });
</script>