<div class="container header-container" id="commissions">
  <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
    <a class="list-group-item list-group-item-action active" id="list-journal-list" data-toggle="list" href="#list-journal" role="tab" aria-controls="experience">The Ruskin Journal</a>
  </div>
  <div class="scroll-overlay overlay-left"></div>
  <div class="tab-content" id="nav-tab-content">
    <div class="tab-pane fade show active" id="list-journal" role="tabpanel" aria-labelledby="list-journal-list">
      <div class="tab-list">
        {% for post in site.categories.external %}

        <div class="list-item" data-file="{{ post.location }}" data-target="article">
          <a href="{{ post.redirect }}" target="_blank">
            <h6 class="item-header external-link">{{ post.title }}</h6>
          </a>
          <div class="item-body">
            <p class="body-header">{{ post.source }}</p>
            <p>{{ post.date | date: "%B %-d, %Y" }}
              -
              <span class="reading-time"></span>
              <span>(<span class="word-count"></span> words)</span>
            </p>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
  <div class="scroll-overlay overlay-right"></div>
</div>
