<footer class="container">
  <div class="footer-inner">
    <div class="footer-title">
      <p class="footer-copyright">&#169; <span id="copyright-year"></span> Joshua Dowding</p>
    </div>
    <div class="footer-separator">
      <div class="separator"></div>
    </div>
    <div class="footer-menu">
      <a class="link-icon" id="theme-toggle" href="javascript:void(0);">
        <i class="ri-sun-fill" id="light"></i>
        <i class="ri-moon-fill" id="dark"></i>
      </a>
    </div>
  </div>
</footer>

<script type="text/javascript">
  $(document).ready(function () {
    var currentDate = new Date();
    $('#copyright-year').append(currentDate.getFullYear());
  });
</script>