<header class="container">
  <nav class="header-inner">
    <div class="header-title">
      <!--<div class="header-logo"></div>-->
      <a href="{{ site.baseurl }}/">
        <h1 class="title title-name">Joshua Dowding</h1>
      </a>
    </div>
    <div class="header-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/work">
            Work
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/resume">
            Resume
          </a>
        </li>
      </ul>
    </div>
    <div class="header-separator">
      <div class="separator"></div>
    </div>
    <div class="header-icons">
      <a class="link-icon hover-tooltip" href="https://github.com/joshuadowding" target="_blank" rel="noreferrer" data-toggle="tooltip" data-placement="bottom" title="GitHub">
        <i class="ri-github-fill"></i>
      </a>
      <a class="link-icon hover-tooltip" href="https://twitter.com/Mordaval" target="_blank" rel="noreferrer" data-toggle="tooltip" data-placement="bottom" title="Twitter">
        <i class="ri-twitter-fill"></i>
      </a>
      <a class="link-icon hover-tooltip" href="https://www.linkedin.com/in/jdowding" target="_blank" rel="noreferrer" data-toggle="tooltip" data-placement="bottom" title="LinkedIn">
        <i class="ri-linkedin-fill"></i>
      </a>
    </div>
    <div class="header-menu">
      <a class="link-icon menu-toggle" href="javascript:void(0);">
        <i class="ri-menu-line" id="open"></i>
        <i class="ri-close-line" id="close"></i>
      </a>
    </div>
  </nav>
</header>

<!-- Modified from: https://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css -->
<svg height="0" xmlns="http://www.w3.org/2000/svg">
    <filter id="drop-shadow">
        <feGaussianBlur in="SourceAlpha" stdDeviation="5"/>
        <feOffset dx="0" dy="3" result="offsetblur"/>
        <feFlood flood-color="rgba(0, 0, 0, 0.35)"/>
        <feComposite in2="offsetblur" operator="in"/>
        <feMerge>
            <feMergeNode/>
            <feMergeNode in="SourceGraphic"/>
        </feMerge>
    </filter>
</svg>
