<header class="container">
  <nav class="header-inner">
    <div class="header-title">
      <a href="{{ site.baseurl }}/">
        <h1 class="title title-name">Joshua Dowding</h1>
      </a>
    </div>
    <div class="header-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/projects">
            Projects
          </a>
        </li>
      </ul>
    </div>
    <div class="header-separator">
      <div class="separator"></div>
    </div>
    <div class="header-icons">
      <a class="link-icon" href="https://github.com/joshuadowding" target="_blank">
        <i class="fab fa-github-alt"></i>
      </a>
      <a class="link-icon" href="https://twitter.com/Mordaval" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="link-icon" href="https://www.linkedin.com/in/jdowding" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <div class="header-menu">
      <a class="link-icon menu-toggle" href="javascript:void(0);">
        <i class="fas fa-bars" id="open"></i>
        <i class="fas fa-times" id="close"></i>
      </a>
    </div>
  </nav>
</header>
