<div class="container resume-container">
  <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
    <a class="list-group-item list-group-item-action active" id="list-experience-list" data-toggle="list" href="#list-experience" role="tab" aria-controls="experience">Experience</a>
    <a class="list-group-item list-group-item-action" id="list-volunteer-list" data-toggle="list" href="#list-volunteer" role="tab" aria-controls="volunteer">Volunteer</a>
    <a class="list-group-item list-group-item-action" id="list-education-list" data-toggle="list" href="#list-education" role="tab" aria-controls="education">Education</a>
  </div>
  <div class="scroll-overlay overlay-left"></div>
  <div class="tab-content" id="nav-tab-content">
    <div class="tab-pane fade show active" id="list-experience" role="tabpanel" aria-labelledby="list-experience-list">
      <div class="tab-list">
        <div class="list-item">
          <h6 class="item-header">Contract Software Developer</h6>
          <div class="item-body">
            <p class="body-header">Esperus Systems</p>
            <p>Dec. 2019 - Jan. 2020, Mar. 2020</p>
            <p>London, Greater London, UK</p>
            <p>Contract (Fixed-Term, Full-Time)</p>
          </div>
        </div>
        <div class="list-item">
          <h6 class="item-header">Junior Software Developer</h6>
          <div class="item-body">
            <p class="body-header">Esperus Systems</p>
            <p>Sep. 2018 - Sep. 2019</p>
            <p>London, Greater London, UK</p>
            <p>Permanent (Full-Time)</p>
          </div>
        </div>
        <div class="list-item">
          <h6 class="item-header">Contract Copywriter</h6>
          <div class="item-body">
            <p class="body-header">Allweathers</p>
            <p>Jan. 2018 - Apr. 2018</p>
            <p>Billericay, Essex, UK</p>
            <p>Contract (Fixed-Term, Full-Time)</p>
          </div>
        </div>
        <div class="list-item">
          <h6 class="item-header">Trainee Software Developer</h6>
          <div class="item-body">
            <p class="body-header">MSX International</p>
            <p>Aug. 2016 - Jan. 2018</p>
            <p>Colchester, Essex, UK</p>
            <p>Contract (Fixed-Term, Full-Time)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="list-volunteer" role="tabpanel" aria-labelledby="list-volunteer-list">
      <div class="tab-list">
        <div class="list-item">
          <h6 class="item-header">President</h6>
          <div class="item-body">
            <p class="body-header">The Ruskin Journal (Society)</p>
            <p>Oct. 2019 - Aug. 2020 (Current)</p>
            <p>Cambridge, Cambridgeshire, UK</p>
            <p>Volunteer (Fixed-Term, Part-Time)</p>
          </div>
        </div>
        <div class="list-item">
          <h6 class="item-header">Editor-in-Chief</h6>
          <div class="item-body">
            <p class="body-header">The Ruskin Journal (Online Magazine)</p>
            <p>Oct. 2019 - Aug. 2020 (Current)</p>
            <p>Cambridge, Cambridgeshire, UK</p>
            <p>Volunteer (Fixed-Term, Part-Time)</p>
          </div>
        </div>
        <div class="list-item">
          <h6 class="item-header">Students' Union Councillor</h6>
          <div class="item-body">
            <p class="body-header">Anglia Ruskin University</p>
            <p>Sep. 2013 - May 2014</p>
            <p>Cambridge, Cambridgeshire, UK</p>
            <p>Volunteer (Fixed-Term, Part-Time)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="list-education" role="tabpanel" aria-labelledby="list-education-list">
      <div class="tab-list">
        <div class="list-item">
          <h6 class="item-header">MSc Computer Science</h6>
          <div class="item-body">
            <p class="body-header">Anglia Ruskin University</p>
            <p>Sep. 2019 - Aug. 2020 (Current)</p>
            <p>Cambridge, Cambridgeshire, UK</p>
            <p>Student (Full-Time)</p>
          </div>
        </div>
        <div class="list-item">
          <h6 class="item-header">BSc (Hons) Computer Gaming - 1:1</h6>
          <div class="item-body">
            <p class="body-header">Anglia Ruskin University</p>
            <p>Sep. 2013 - May 2016, Oct. 2016 (Graduation)</p>
            <p>Cambridge, Cambridgeshire, UK</p>
            <p>Student (Full-Time)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-overlay overlay-right"></div>
</div>
