<div class="sidenav">
  <div class="sidenav-header">
    <a href="javascript:void(0);" class="menu-toggle" id="close">
      <i class="ri-close-line" id="close"></i>
    </a>
  </div>
  <a href="{{ site.baseurl }}/">
    Blog
  </a>
  <a href="{{ site.baseurl }}/projects">
    Projects
  </a>
  <a href="{{ site.baseurl }}/experience">
    Experience
  </a>
  <a href="https://github.com/joshuadowding" target="_blank" rel="noreferrer">
    GitHub
  </a>
  <a href="https://twitter.com/Mordaval" target="_blank" rel="noreferrer">
    Twitter
  </a>
  <a href="https://www.linkedin.com/in/jdowding" target="_blank" rel="noreferrer">
    LinkedIn
  </a>
</div>
