<div class="sidenav">
  <div class="sidenav-header">
    <a href="javascript:void(0);" class="menu-toggle" id="close">
      <i class="ri-close-line" id="close"></i>
    </a>
  </div>
  <div class="sidenav-nav">
    <a class="nav-item" href="{{ site.baseurl }}/" id="sidenav-link-scribbles">
      Scribbles
    </a>
    <a class="nav-item" href="{{ site.baseurl }}/projects" id="sidenav-link-projects">
      Projects
    </a>
    <a class="nav-item" href="https://github.com/joshuadowding" target="_blank" rel="noreferrer">
      GitHub
    </a>
    <a class="nav-item" href="https://twitter.com/Mordaval" target="_blank" rel="noreferrer">
      Twitter
    </a>
    <a class="nav-item" href="https://www.linkedin.com/in/jdowding" target="_blank" rel="noreferrer">
      LinkedIn
    </a>
  </div>
</div>
