<!doctype html>

<html lang="en-GB">

<head>
  <title>Joshua Dowding - {{ page.title }}</title>

  <meta charset="utf-8">
  <meta name="author" content="Joshua Dowding">
  <meta name="description" content="Joshua Dowding's personal website, portfolio and blog.">
  <meta name="keywords" content="joshua dowding, Joshua Dowding, dowding, Dowding, Joshua Dowding Portfolio, joshua dowding portfolio">
  <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
  <meta name="theme-color" content="#3095E5">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="robots" content="index,follow">

  {% feed_meta %}

  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/lib/slick.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/inter-ui@3.12.1/inter.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.min.css">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/media.css">
</head>

<body>
  {% include header.html %}
  <div class="body-content" id="main">{{ content }}</div>
  {% include sidebar.html %}
  {% include footer.html %}

  <script type="text/javascript" src="{{ site.baseurl }}/js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/lib/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/lib/slick.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/lib/readingtime.min.js"></script>

  <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>

  <script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-148181092-1" rel="preconnect" async></script>
  <script type="text/javascript" rel="preconnect" async>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-148181092-1');
  </script>
</body>

</html>
