<!doctype html>

<html lang="en-GB">

<head>
  <title>Joshua Dowding - {{ page.title }}</title>

  <meta charset="utf-8">
  <meta name="author" content="Joshua Dowding">
  <meta name="description" content="Joshua Dowding's personal website, portfolio and blog.">
  <meta name="keywords" content="joshua dowding, Joshua Dowding, joshua, Joshua, dowding, Dowding, portfolio, Portfolio, Joshua Dowding Portfolio, joshua dowding portfolio">
  <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#1E90FF">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="robots" content="index,follow">

  {% feed_meta %}

  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,900&display=swap">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://kit.fontawesome.com/6c993b40b9.js"></script>

  <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>

  <script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-132821024-2"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-132821024-2');
  </script>
</head>

<body>
  {% include header.html %}

  <div class="body-content" id="main">
    {{ content }}
  </div>

  <div class="sidenav">
    <div class="sidenav-header">
      <a href="javascript:void(0);" class="menu-toggle" id="close">
        <i class="fas fa-times" id="close"></i>
      </a>
    </div>
    <a href="{{ site.baseurl }}/">
      Blog
    </a>
    <a href="{{ site.baseurl }}/projects">
      Projects
    </a>
    <a href="https://github.com/joshuadowding" target="_blank">
      GitHub
    </a>
    <a href="https://twitter.com/Mordaval" target="_blank">
      Twitter
    </a>
  </div>

  {% include footer.html %}
</body>

</html>
