---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col">
      <article class="post full-spread">
        <div class="post-body">
          <h1 class="post-title">{{ page.title }}</h1>
          <h6 class="post-date">{{ page.date | date: "%B %e, %Y" }}</h6>

          {% if page.tags != empty %}
          <div class="post-tags">
            {% for tag in page.tags %}
            <p class="tag"><span class="badge badge-secondary">{{ tag }}</span></p>
            {% endfor %}
          </div>
          {% endif %}

          {% if page.categories != empty %}
          <div class="post-catagories">
            {% for category in page.categories %}
            <p class="category"><span class="badge badge-secondary">{{ category }}</span></p>
            {% endfor %}
          </div>
          {% endif %}

          <div class="post-content">
            {{ content | markdownify }}
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
